@model IEnumerable<QuanLyQuanNuoc.Models.BookedTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTimeEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookTimeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookTimeEnd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTable }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTable }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTable })
        </td>
    </tr>
}

</table>
