<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DrinkFood !</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
    <link href="~/Content/layout.css" rel="stylesheet" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#ED1C24;border-bottom-color:white">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Trang chủ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
        </div>
    </div>
    <div class="jumbotron text-center">
        <h1>Chào mừng đến với cửa hàng DrinkFood !</h1>

    </div>
    <partial name="_CookieConsentPartial" />
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-6">
                @RenderBody()
            </div>
            <div class="col-sm-6">
                <img src="~/images/bk.png" class="rounded" width="450"/>

            </div>
        </div>
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Web.Customer</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
