@model QuanLyQuanNuoc.Models.BillInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BillInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.countF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.countF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.countD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.countD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bill.idBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bill.idBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drink.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drink.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
